.layoutHomePage_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 50px;
  width: auto;
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

.layoutHomePage_li {
  float: left;
  padding: 0;
  width: 25%;
  margin-left: auto ;
  margin-right: auto ;
}

.layoutHomePage_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.layoutHomePage_li a:hover {
  background-color: yellow;
  color: black;
}

