.shows {
    padding-top: clamp(1%, 2%, 3%);
    padding-bottom: clamp(1%, 2%, 2%);
}

.showsList {
    padding-top: clamp(1%, 2%, 3%);
}

.showsList Table * {
    padding-top: 1px;
    padding-bottom: 1px;
}

.showsList h3 {
    padding-top: 1%;
    padding-bottom: 1%;
}