* {
    margin: 0;
    padding: 0;
}

.videoBgCSS {
    width: 100%;
    height: 100vh;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frontContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(10%, 150%, 200%);
}